div#nav-sticky
    div.nav
        div.row
            div.large-5.medium-9.small-10.medium-centered.columns.large-centered
                div#suggestion
                    input#mainInput(type="text", class="typeahead", placeholder="Ache tudo sobre Games!")

    div.contain-to-grid
        div.row
            div.gueimeWhite
                a(href="/"): img(src="/images/gueime-white.png", alt="white logo")
            div.large-3.medium-4.small-8.columns
                if (!user)
                    a.facebook(href="/auth/facebook") <i class="fa fa-facebook"></i> Entrar com Facebook
                else if(user.status == 'admin' || user.status == 'parceiro')
                    a(href="/profile").user <i class="fa fa-user"></i> #{user.name.first}
                    a.create(href="#", data-dropdown="drop1") <i class="fa fa-pencil-square-o"></i> Criar
                    ul#drop1.f-dropdown(data-dropdown-content)
                        li
                            a(href="/criar/noticia") Notícia
                        li
                            a(href="/criar/artigo") Artigo
                        li
                            a(href="/criar/analise") Análise
                        li
                            a(href="/criar/video") Vídeo
                    if(criar == true)
                        a.deletar <i class="fa fa-trash-o"></i> Deletar
                        form#deletar(action="/deletarCriando", method="post")
                            input(type="hidden", name="slug")
                    if(article)
                        if(!edit)
                            if(article.authors.main == user.id || user.status == 'admin')
                                if(tipo == 'noticia')
                                    a(href="/noticias/#{article.slug}/editar").editar <i class="fa fa-gears"></i> Editar
                                else if(tipo == 'analise')
                                    a(href="/analises/#{article.slug}/editar").editar <i class="fa fa-gears"></i> Editar
                                else if(tipo == 'artigo')
                                    a(href="/artigos/#{article.slug}/editar").editar <i class="fa fa-gears"></i> Editar
                                else
                                    a(href="/videos/#{article.slug}/editar").editar <i class="fa fa-gears"></i> Editar
                            
                        else
                            if(edit == true)
                                a.deletar <i class="fa fa-trash-o"></i> Deletar
                                form#deletar(action="/deletar", method="post")
                                    input(type="hidden", name="slug", value="#{article.slug}")
                else
                    a(href="/profile").user <i class="fa fa-user"></i> #{user.name.first}
                                    
                                
            if (!user)
                div.show-for-small.small-4.columns
            else if(user.status == 'admin' || user.status == 'parceiro')
                div.show-for-small.small-4.columns
                    a.logout(href="/logout") <i class="fa fa-sign-out"></i> sair
                        
                            
            div.large-7.medium-6.columns.small-12#tagSelection

            if(user)
                div.large-2.medium-2.show-for-medium-up.columns
                        a.logout(href="/logout") <i class="fa fa-sign-out"></i> sair
            else
                div.large-2.medium-2.show-for-mediu-up.columns