div.grid-wrap

for doc in docs
        
    if(doc.type == 'noticia')
        a(href="/artigos/#{doc.slug}", data-link="ajax").item
            div.hidden.infoNews.row
                div.small-12.small-centered.columns.headline
                    p #{doc.description}
                div.small-12.small-centered.columns
                    div.row.graph
                        div.large-6.medium-6.small-6.columns
                            span #{doc.authors.name}
                        div.large-6.medium-6.small-6.columns
                            span.toRight <i class="fa fa-eye"></i> #{doc.graph.views}<i class="fa fa-comment", style="margin-left:10px;"></i> <fb:comments-count href=http://www.gueime.com.br/noticias/#{doc.slug} ></fb:comments-count>
            div.articleImage(style="background-image: url(#{doc.cover.image});")
            div.details
                div.name
                    h2.ref #{doc.title}

    else if(doc.type == 'analise')
        a(href="/analises/#{doc.slug}", data-link="ajax").item.w4
            div.hidden.infoGame.row
                div.small-12.small-centered.columns.headline
                    p #{doc.description}
                div.small-12.small-centered.columns
                    div.row.graph
                        div.large-6.medium-6.small-6.columns
                            span #{doc.authors.name}
                        div.large-6.medium-6.small-6.columns
                            span.toRight <i class="fa fa-eye"></i> #{doc.graph.views}<i class="fa fa-comment", style="margin-left:10px;"></i> </i> <fb:comments-count href=http://www.gueime.com.br/analises/#{doc.slug} ></fb:comments-count>
            div.articleImage(style="background-image: url(#{doc.cover.image});")
            div.details
                div.game
                    h2.ref #{doc.title}

    else if(doc.type == 'artigo')
        a(href="/artigos/#{doc.slug}", data-link="ajax").item.w4
            div.hidden.infoArticle.row
                div.small-12.small-centered.columns.headline
                    p #{doc.description}
                div.small-12.small-centered.columns
                    div.row.graph
                        div.large-6.medium-6.small-6.columns
                            span #{doc.authors.name}
                        div.large-6.medium-6.small-6.columns
                            span.toRight <i class="fa fa-eye"></i> #{doc.graph.views}<i class="fa fa-comment", style="margin-left:10px;"></i> </i> <fb:comments-count href=http://www.gueime.com.br/artigos/#{doc.slug} ></fb:comments-count>
            div.articleImage(style="background-image: url(#{doc.cover.image});")
            div.details
                div.article
                    h2.ref #{doc.title}

    else
        a(href="/videos/#{doc.slug}", data-link="ajax").item
            div.hidden.infoVideo.row
                div.small-12.small-centered.columns.headline
                    p #{doc.description}
                div.small-12.small-centered.columns
                    div.row.graph
                        div.large-6.medium-6.small-6.columns
                            span #{doc.authors.name}
                        div.large-6.medium-6.small-6.columns
                            span.toRight <i class="fa fa-eye"></i> #{doc.graph.views}<i class="fa fa-comment", style="margin-left:10px;"></i> <fb:comments-count href=http://www.gueime.com.br/videos/#{doc.slug} ></fb:comments-count>
            div.articleImage(style="background-image: url(#{doc.cover.image});")
            div.details
                div.video
                    h2.ref #{doc.title}
            