meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title= "Gueime - " + title
link(rel="stylesheet", href="/stylesheets/base/normalize.css")
link(rel="stylesheet", href="/stylesheets/base/foundation.css")
link(rel='stylesheet', href='/stylesheets/vendor/jqueryUi.css')
link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel="icon", type="image/png", href="/images/favicon.png")
link(rel="author", href="humans.txt")
meta(property="fb:admins", content="571845260")
meta(property="fb:app_id", content="561543940541408")
// New Relic
!= newrelic.getBrowserTimingHeader()
    
script(src="/javascripts/vendor/modernizr.js")

// Segment Analytics
if(user && user.status == 'admin')
    script.
        console.log('Oi Gueimer Admin :D')
        var thereIsAdmin = true;
else
    script.
        var thereIsAdmin = false;
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
        analytics.load("TvCDywUAbrucnVfaDlSRBYH6cb0wPvCT");
        analytics.page()
        }}();

if(user && user.status != 'admin')
    script.
        analytics.identify('#{user.id}', {
          name: '#{user.name.first} #{user.name.last}',
          email: '#{user.email}'
        });

script(type="text/javascript", src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50fe332b305ab390", async="async")