extends layouts/layout

block content
    if(status == 'redirected')
        div.alert-box(data-alert, style="margin-bottom: 0; height: 60px")
            p Aparentemente esse artigo que tentou acessar não existe mais...mas temos certeza que algo abaixo vai te agradar!
            a#alertMessage(href="#", style="color: white; opacity: 1").close &times;
    if(status == 'deletado')
        div.alert-box(data-alert, style="margin-bottom: 0; height: 60px")
            p Seu Artigo foi deletado, mas você ainda tem acesso a ele em sua página de peril.
            a#alertMessage(href="#", style="color: white; opacity: 1").close &times;
    if(status == 'revision')
        div.alert-box(data-alert, style="margin-bottom: 0; height: 60px")
            p Sensacional! Agora seu artigo foi enviado para revisão! Aguarde um pouco e se tudo estiver correto ele logo será publicado
            a#alertMessage(href="#", style="color: white; opacity: 1").close &times;
            
    div#darken       
    div.row(style="background-color: white;")
        div.large-4.medium-6.medium-centered.large-centered.columns.text-center(style="height:8rem;")
            span.vertical-align-helper
            a(href="/"): img(src="/images/gueime.png", alt="Gueime Logo")

    include partials/nav

    div#spinning
        img(src="/images/spinning.gif")
    div.row#gridArticles
        if(games != undefined && games.length > 0)
            for game in games
                a(href="/jogos/#{game.slug}").item
                    div.gameAnalise(style="#{game.cover}  margin:0px")
                        div.analisePattern(style="background-color:rgba(36, 50, 80, 0.6);")
                            h3(style="color:white;") #{game.title}
        include partials/tiles

    div.row#load
        div.medium-6.small-centered.columns
            if(type == 'inicio')
                a#loadMore.button Mais artigos
                    span #{type}
            else
                a#loadMoreRelated.button Mais artigos
                    span #{type}

    include partials/footer

    div#myModal.reveal-modal(data-reveal)
        div#spinningContent
            img(src="/images/spinning.gif")